- There are cases in which the code column of the original data needs to be cleaned.
- I am trying to merge with other data by using this code column as a merge condition,  
  but there are often cases where the number of digits in the code is not uniform.

- In this case, use the zfill() or rjust() function  
  to change the number of digits or shape of the code column.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("data/sample_data_code_2.xlsx")
print(df.shape)
df

(6, 1)

   code
0  1000
1  1001
2  1002
3  2000
4  2001
5  2002

- zfill() function fills "0" in front of a character to make it the desired number of digits.
- Since the "code" column of the sample data is in numeric format,  
  the function was applied after first converting it to a string type.

In [3]:
df['code_zfill_5'] = df['code'].apply(lambda x : str(x).zfill(5))
df['code_zfill_7'] = df['code'].apply(lambda x : str(x).zfill(7))

df

   code code_zfill_5 code_zfill_7
0  1000        01000      0001000
1  1001        01001      0001001
2  1002        01002      0001002
3  2000        02000      0002000
4  2001        02001      0002001
5  2002        02002      0002002

- rjust() function provides more flexibility.
- You can make the desired number of digits  
  by filling the front of the string with a character other than "0".

In [4]:
df['code_rjust_5'] = df['code'].apply(lambda x : str(x).rjust(5, "0"))
df['code_rjust_A'] = df['code'].apply(lambda x : str(x).rjust(5, "A"))

df

   code code_zfill_5 code_zfill_7 code_rjust_5 code_rjust_A
0  1000        01000      0001000        01000        A1000
1  1001        01001      0001001        01001        A1001
2  1002        01002      0001002        01002        A1002
3  2000        02000      0002000        02000        A2000
4  2001        02001      0002001        02001        A2001
5  2002        02002      0002002        02002        A2002