- Suppose we need to clean duplicate data to make the value of column "id" unique.  
  As in the sample data below,  
  when the values of "col_a" with the same "id" are not the same,  
  there is a problem of choosing which of the duplicated rows to keep.  
     
- Suppose that when the value of column "id" is duplicated,    
  a row with a large value of column "col_a" should be left.

- There is also a simple workaround using the "drop_duplicates" and "sort_values" methods appropriately.    
  However, in the case of large-volume data,
  there are cases in which it is difficult to refine by the above method for reasons  
  such as the presence of many null values in the column "col_a", which is the selection criterion.  
 
- In that case, I used the code below to clean duplicate rows.

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_excel("data/sample_data.xlsx")
print(df.shape)
df

(12, 2)

    id  col_a
0    1     41
1    2     25
2    2      4
3    3     63
4    1     50
5    4     74
6    5     18
7    6     30
8    6     82
9    7     58
10   8     78
11   1     34

In [6]:
list_id = df['id'].unique()
print(len(list_id))
list_id

8

array([1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [10]:
list_rm_index = []

for i in list_id:
    temp_a = df[df['id']==i]
    temp_b = temp_a.sort_values('col_a', ascending=False)
    list_rm_index_a = list(temp_b[1:].index)
    list_rm_index.extend(list_rm_index_a)

print(len(list_rm_index))
list_rm_index

4

[0, 11, 2, 7]

In [12]:
df1 = df.drop(list_rm_index)

print(df.shape)
print(df1.shape)

df1

(12, 2)
(8, 2)

    id  col_a
1    2     25
3    3     63
4    1     50
5    4     74
6    5     18
8    6     82
9    7     58
10   8     78